data/
rsconnect/
shp/
.RData
.Rhistory
.Rproj.user/
.Rproj.user
model_coeffs.csv
mulitlvel_modelling_v1.html
mulitlvel_modelling_v1.Rmd
mulitlvel_modelling_v2.html
mulitlvel_modelling_v2.Rmd
Multilevel_model_screening.Rproj
.Rproj.user
ccg_summary.csv
Model_Troubleshooting.html
